<div class="container mx-auto p-4">
  <h1 class="text-2xl sm:text-3xl font-bold mb-2">My Projects</h1>
  <p class="text-gray-500 mb-4">Track your projects</p>

  <!-- Filter dropdown -->
  <div class="mb-4">
    <label for="filter" class="block mb-1 font-medium">Filter By:</label>
    <select id="filter" [(ngModel)]="filterBy" class="border border-gray-300 rounded px-4 py-2 w-64">
      <option value="All">All</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
  </div>

  <!-- Projects Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div *ngFor="let project of filteredProjects" class="bg-white shadow-lg rounded p-4">


      <!-- Project Title -->
      <h2 class="text-lg font-semibold mb-2">{{ project.title }}</h2>
      <hr>
      <div class="relative">

        <div class="absolute top-4 right-4">
          <span class="px-3 py-1 rounded text-sm font-semibold" [ngClass]="{
              'bg-yellow-100 text-yellow-800': project.status === 'In Progress',
              'bg-green-100 text-green-700': project.status === 'Completed'
            }">
            {{ project.status }}
          </span>
        </div>


        <!-- Delivery Date and Price -->
        <p><strong>Delivery Date :</strong> {{ project.deliveryDate }}</p>
        <p><strong>Price:</strong> {{ project.price }} $</p>

        <!-- Assigned To -->
        <div class="flex justify-between w-full">
          <div class="mt-4">
            <p class="font-semibold">Assigned to:</p>
            <div class="flex items-center mt-2">
              <img src="https://www.svgrepo.com/show/384670/account-avatar-profile-user.svg"
                alt="{{ project.assignedTo.name }}" class="w-10 h-10 rounded-full mr-2" />
              <span class="font-medium underline">{{ project.assignedTo.name }}</span>
            </div>
          </div>

          <!-- Action Buttons -->
          <div class="mt-4 flex flex-col space-y-2">
            <button *ngIf="project.status === 'In Progress'" class="w-48 bg-green-500 text-white py-2 rounded">
              Done
            </button>
            <button *ngIf="project.status === 'In Progress'" class="w-48 bg-black text-white py-2 rounded">
              Contact
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>