:host {
  display: block;
}

.success-snackbar {
  background-color: #4caf50; /* Green for success */
  color: white;
}

.error-snackbar {
  background-color: #f44336; /* Red for errors */
  color: white;
}